<p>Hai <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Kami menghubungi Anda untuk memberi tahu bahwa email Anda sedang diubah ke <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Kami menghubungi Anda untuk memberi tahu bahwa email Anda telah diubah ke <%= @resource.email %>.</p>
<% end %>
