<p>Hai <%= @resource.email %>!</p>

<p>Seseorang telah meminta tautan untuk mengubah kata sandi Anda. Anda dapat melakukan-nya melalui tautan di bawah ini.</p>

<p><%= link_to 'Ubah kata sandi saya', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jika Anda tidak meminta ini, abaikan email ini.</p>
<p>Kata sandi tidak akan berubah sampai Anda mengakses tautan di atas dan membuat yang baru.</p>
